body{
    margin: 0;
    background-color: rgb(17, 99, 134);
}

header{
    height: 200px;
    background: linear-gradient(to bottom, rgba(18, 1, 43, 0.568), rgba(0, 0, 0, 0));
    padding-top: 50px;
}

main{
    height: 500px;
}

h1{
    margin: 0;
    text-align: center;
    color: antiquewhite;
    font-style: italic;
    font-size: 50px;

}